.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	/* padding: 20% 2%; */
	gap: 10%;
	background: rgb(26, 188, 254);
	background: linear-gradient(
		22deg,
		rgba(26, 188, 254, 1) 0%,
		rgba(10, 156, 207, 1) 100%
	);
}

.title-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.title {
	font-size: 44px;
	margin: 0;
	text-align: center;
	color: #FFF;
	font-family: "Poppins";
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5vh;
	width: 100%;
}

@media (min-width: 768px) {
	.container {
		padding: 0;
		width: 100%;
		overflow: hidden;
	}
	.title-container {
		border: none;
		/* padding: 3% 0 0 0; */
	}
}
