.win-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.message {
	font-size: 20px;
	font-family: "Poppins";
	text-shadow: 1px 1px 2px #000;
}

.win-X {
	color: #0f0;
}
.win-O {
	color: #f00;
}
.draw-message {
	color: #555;
}

.reset-button {
	width: 150px;
	font-family: "Arial";
	color: wheat;
	background-color: #ff0f0f;
	font-weight: 600;
	padding: 5px;
	border-radius: 10px;
}